#root {
  color: red;
}

body{
  background-color: rgb(172, 168, 164);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 2rem;
}

#searchbar-wraper {
  display: flex;
  flex-direction:row;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  width: 100%;
}

#select-episodes, #select-tv-show{
  border: solid rgb(73, 73, 73) 0.01rem;
  border-radius: 0.5rem;
  height: 2rem;
  width: 15rem;
  padding: 0 0.5rem;
}

#search{
  border: solid rgb(73, 73, 73) 0.01rem;
  border-radius: 0.5rem;
  height: 2rem;
  text-align: end;
  width: 100%;
  position: relative;
}

.logo_image{
  width: 30%;
}

#input_img{
position: absolute;
width: 1.5rem;
margin-left: 0.3rem;
}

section {
  border-radius: 0.5rem;
  height: 2rem;
  text-align: end;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}



.title-of-episode{

  max-height: 5rem;
  height: 3rem;
  border-radius: 0.3rem;
  width: 100%;
  background-color: rgb(73, 73, 73);
  color: white;
  display: flex;
  text-align: center;
  flex-direction: column;
  line-height: 0.1rem;
}

.card{
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  background-color: rgb(234, 234, 234);
  min-height: 20rem;
  
  border: solid rgb(73, 73, 73) 0.01rem;
}

.img{
  max-width: 100%;
  width: 13rem;
  text-align: center;
  margin-top: 1rem;
}

.description-episode{
  margin: 1rem;
  text-align: justify;
}

#main-div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:2rem;
  align-content: center;
  justify-content: center;
}


